body {
    font-family:'Times New Roman', Times, serif;
  }
  
  .container {
    max-width: 800px;
    margin-top: 20%;
    margin-left: 20%;
    text-align: center;
  }

.inputidade{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 30%;
}

#idadeInput{
    margin-bottom: 8px;
}

.navbar{
    margin-bottom: 100px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-card{
    width: 150px;
    height: 250px;
}

.card{
    display: flex;
    align-items: center;
    margin: 8px;
    min-height: 450px;
}

.cards-vinhos{
    display: flex;
}

a{
    text-decoration: none;
}

.info-img{
    max-width:350px;
    max-height:500px;
    width: auto;
    height: auto;
    margin-left: 15%;
}

.cont-info{
    display: flex;
    /* background-color: darkgrey; */
}
.produto{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    width: 50%;
    margin-left: 5%;
}

#quantidade, #cupom{
    width: 25%;
}

.totalizar{
    border-radius: 30px;
    border-style: none;
    background-color: coral;
    width: 15%;
    margin-top: 10px;
}

.cartao-login{
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    width: 400px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.cont-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

#user, #senha{
    width: 200px;
}

.formulario{
    margin-top: 80px;
    margin-bottom: 50px;
}

footer {
    background-color: #373b3b3b;
    color: #7a7a7a;
    padding: 1.9rem 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    text-align: left;
}


.left-content p {
    margin: 0.3rem 0;
}

.left-content a {
    font-weight: bold;
}

.left-content a:hover {
    text-decoration: underline;
}

.right-content {
    text-align: right;
}

.right-content p {
    margin: 0;
    font-style: italic;
}

.lform{
    display: flex;
}
.nomeform{
    margin-right: 8px;
}
#envio{
    margin-left: 85%
}